/******** library common variables ********/

/* prefixes */
$xl-prefix: "xl-" !default;
$lg-prefix: "lg-" !default;
$md-prefix: "md-" !default;
$sm-prefix: "sm-" !default;
$xs-prefix: "xs-" !default;

/* build classes */
$build-xl-classes: true !default;
$build-lg-classes: true !default;
$build-md-classes: true !default;
$build-sm-classes: true !default;
$build-xs-classes: true !default;
