/******** mixin to generate the flex trumps ********/

@mixin auto-generate-flex-trumps($values, $prefix: "") {
  @each $val in $values {
    .#{$prefix}l-row .#{$prefix}flex-#{$val} {
      max-width: #{$val}% !important;
      max-height: 100%;
    }
    .#{$prefix}l-col .#{$prefix}flex-#{$val} {
      max-height: #{$val}% !important;
      max-width: 100%;
    }
    .#{$prefix}flex-#{$val} {
      flex: 1 1 100%;
      box-sizing: border-box;
    }
  }
}
